# 🔹 Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Jupyter Notebook
.ipynb_checkpoints/

# 🔹 VS Code
.vscode/
*.code-workspace

# 🔹 Sistema (Windows/Mac)
.DS_Store
Thumbs.db

# 🔹 Ambiente virtual (se usar depois)
venv/
.env/